body {
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.tipedata {
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }
  p {
    font-size: 1em;
  }
}
